.test {
  color: black;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  display: block;
  font-size: 5rem;
  font-weight: 400;
  letter-spacing: 1.5rem;
}
.sub {
  margin-top: -15rem;
  animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  display: block;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1.3rem;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
